body{
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}

/* -- Typography---*/
h1 {
    font-size: 1.3rem; 
    color: #212614;
}

h1 span {
    color: #b7832f;
}

h2 {
    
    font-size: 1.5rem;
}

nav ul{
    list-style: none;
    text-align: right; 
}


nav a{
    text-decoration: none;
    background:#212614;
    color: ghostwhite;
    border:burlywood solid 0.5rem;
    padding: auto 0.8rem;
    margin-top: 1rem;
      
}

section ul{
    list-style:none ;
}

/* Layout    --- */

img{
    background:plum;
    width: 20%;
    border:mediumpurple solid 0.3rem;
}


.container{
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

.Pcol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.experience ul{
    list-style: none;
    padding: 0 1rem;
}


.namenav{
    display: flex;
}

.subj{
    text-align: center;
}


.navigation{
    margin-left: auto;
    
}
/*
.git-img{
    width: 30%;
}*/

.img-grid{
    display: grid;
    grid-template: 50px / 200px 100px;   
}

.grid-item{
    color:white;
    padding: 1em 1em;
    border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.one {
    background:darkmagenta;
    grid-row: 4/2;
}

.two {
    background:blue;
    
}

.message-form{
    display: flex;
    text-align:left;
    color:#212614;
    flex-direction: column;
    width: 90%;
    padding: auto 0.8rem;
    margin-top: 3rem;
    margin-left: 0.1rem;
}

.message-section{
    background-color: thistle;
    color: #fff;
    width: 60%;
    border: 3px solid;
    margin-left: 1rem ;

}


.key-submit{
    width: 50px;
    background-color:plum;
    align-self:flex-end;
}
.key-submit:hover{
    background-color: blueviolet;
    color:#212614;
}
.delete{
    float: left;
    background: #9361bf;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

#hide{
    padding: 20px 35px 20px 0;
}
#hide label{
    padding: 0 10px;
}
.delete:hover{
    background: #333;
}

.list-message{
    background-color:ghostwhite;
    display: flex;
    text-align:left;
    color:#212614;
    flex-direction: column;
    width: 90%;
    border: 3px solid;
    padding: auto 0.8rem;
    margin-top: 3rem;
    margin-left: 1rem;
}
.li-list{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}
/*
#Projects{
    background-color: #b7832f; 
    color: #000;
   display: flex;
   flex-direction: column;
   width: 40%;
   border:khaki 3px solid ; 
   padding: 0 6rem ;
   margin-top: 3rem;

}

*/

.project{
    background-color:azure;
    color: #333;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border: burlywood solid  4px;
    padding: auto;
    margin-top: 1rem;
    margin-left: 2rem;
}



body {
    margin: 24px;
  }
  
  @media (min-width: 400px) {
    body {
      background:azure;
    }
  }
  @media (min-width: 650px) {
    body {
      background:lemonchiffon;
    }
  }